---
// IMPORTS ASTRO ATOMS
import Link from "@/atoms/links/index.astro"

const { href, aria_label  } = Astro.props
---
<Link href={ href } aria_label={ aria_label }>
    <li class="text-sm text-oplayo_slate hover:text-white transition-all duration-300 font-lato font-medium">
        <slot/>
    </li>
</Link>
