---
// IMPORTS ASTRO ATOMS
import HeadingThree from "@/atoms/headings/three/index.astro"
import Link from "@/atoms/links/index.astro"

// IMPORTS CONSTANTS
import { CDN_LINK, IMAGE_QUALITY } from "@/constants/image"

const {

    src,
    title,
    href

} = Astro.props
---
<div class="space-y-8">
    <div>
        <Link href={ href } aria_label="">
            <div class="w-full aspect-square bg-zinc-200">
                <img
                    src={ CDN_LINK + src + "?quality=" + IMAGE_QUALITY }
                    alt=""
                    class="w-full h-full object-cover"
                />
            </div>
        </Link>
    </div>
    <div>
        <Link href={ href } aria_label="">
            <HeadingThree>{ title }</HeadingThree>
        </Link>
    </div>
</div>
