---
// IMPORTS ASTRO COMPONENTS
import SocialIconImage from "./image/index.astro"
---
<section class="flex gap-6 items-center">
    <SocialIconImage
        href="https://www.facebook.com/Oplayo"
        aria_label=""
        src="/icons/social/facebook.svg"
        alt=""
    />
    <SocialIconImage
        href="https://www.youtube.com/c/oplayo"
        aria_label=""
        src="/icons/social/youtube.svg"
        alt=""
    />
    <SocialIconImage
        href="https://www.instagram.com/oplayo/"
        aria_label=""
        src="/icons/social/instagram.svg"
        alt=""
    />
</section>
